<div class="p-3 banner d-flex justify-content-between">
  <!-- <h3>Simple Airbnb</h3> -->
  <%= link_to 'Simple Airbnb', flats_path, class: "home btn btn-light"  %>
  <%= link_to 'Add a flat', new_flat_path, class: "btn btn-primary"  %>

</div>
